body{
	font-family: 'Helvetica';
}

#pricing h1{
	text-align: center;

}

#pricing table{
	width: 100%;
	
}

.buynow{
	 background-color: #3690d0;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 110px;
    text-align: center;
}

th{
	border-bottom: 1px solid;
}

tr:nth-child(even) {background-color: #f2f2f2;}